#!/usr/bin/make -f

export CC=gcc-15
export CXX=g++-15

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBTOP_GPU=ON \
		-DBUILD_TESTING=OFF
